<div class="container-md mt-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% jobData.forEach(function(job, index) { %>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= job.jobTitle %></h5>
          <p class="card-text"><%= job.company %></p>
          <p class="card-text"><%= job.position %></p>
          <p class="card-text"><%= job.location %></p>
          <p class="card-text"><%= job.salary %></p>

          <!-- Render skills as buttons -->
          <div class="mt-2">
            <% job.skills.forEach(function(skill) { %>
            <button type="button" class="btn btn-outline-primary m-1">
              <%= skill %>
            </button>
            <% }); %>
          </div>

          <a href="/jobs/<%= index %>" class="btn btn-primary mt-3"
            >View Details</a
          >
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
